.root {
  position: relative;
  width: 1280px;
  height: 720px;
  align-items: flex-start;
  background-color: #dad7cd;
  overflow: hidden;
}
.rectangle39 {
  position: absolute;
  left: 0;
  top: 0;
  width: 1280px;
  height: 720px;
  background-color: #344e41;
}
.rectangle40 {
  position: absolute;
  left: 694px;
  top: 44px;
  width: 511px;
  height: 632px;
  border-radius: 12px;
  background-color: #dad7cd;
}
.logIn {
  color: #344e41;
  font-size: 26px;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 654px;
  top: 115px;
  width: 239px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.enterTheEmailAssociatedWithYou {
  color: #344e41;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 745px;
  top: 178px;
  width: 384px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.rectangle17 {
  position: absolute;
  left: 736px;
  top: 222px;
  width: 422px;
  height: 43px;
  background-color: #fff;
}
.enterEmail {
  color: #0000007a;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 683px;
  top: 236px;
  width: 205px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.rectangle44 {
  position: absolute;
  left: 736px;
  top: 274px;
  width: 422px;
  height: 43px;
  background-color: #fff;
}
.enterPassword {
  color: #0000007a;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 694px;
  top: 288px;
  width: 205px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.rectangle4 {
  position: absolute;
  left: 850px;
  top: 335px;
  width: 199px;
  height: 45px;
  border-radius: 31px;
  background-color: #3a5a40;
}
.logIn2 {
  color: #dad7cd;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 914px;
  top: 351px;
  width: 71px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.rectangle45 {
  position: absolute;
  left: 751px;
  top: 451px;
  width: 392px;
  height: 45px;
  border-radius: 31px;
  background-color: #3a5a40;
}
.forgotEmailCreateANewAccount {
  color: #dad7cd;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 769px;
  top: 466px;
  width: 365px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.line1 {
  position: absolute;
  left: 694px;
  top: 522px;
  width: 511px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  outline: solid 1px #e2e2e2;
}
.rectangle41 {
  position: absolute;
  left: 937px;
  top: 513px;
  width: 22px;
  height: 12px;
  background-color: #dad7cd;
}
.o {
  color: #e2e2e2;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 924px;
  top: 515px;
  width: 49px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.rectangle42 {
  position: absolute;
  left: 805px;
  top: 560px;
  width: 284px;
  height: 45px;
  border-radius: 31px;
  background-color: #a3b18a;
}
.google {
  color: #344e41;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 925px;
  top: 575px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle43 {
  position: absolute;
  left: 850px;
  top: 392px;
  width: 199px;
  height: 45px;
  border-radius: 31px;
  background-color: #a3b18a;
}
.forgotPassword {
  color: #344e41;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 894px;
  top: 407px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.logo {
  position: absolute;
  left: 59px;
  top: 178px;
  width: 376px;
  height: 376px;
  background-image:/* webpackIgnore: true */ url("assets/logo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
